<font color="white">.</font> | <font color="white">.</font> | <font color="white">.</font>
-- | -- | --
![NASA](http://www.nasa.gov/sites/all/themes/custom/nasatwo/images/nasa-logo.svg) | <h1><font size="+3">ASTG Python Courses</font></h1> | ![NASA](https://www.nccs.nasa.gov/sites/default/files/NCCS_Logo_0.png)

---

<center><h1><font color="red" size="+3">Introduction to Pandas</font></h1></center>

## <font color="red">Useful References</font>
- <a href="https://bitbucket.org/hrojas/learn-pandas/src/master/">Learn Pandas</a> (by Hernan Rojas)
- <a href="https://www.learndatasci.com/tutorials/python-pandas-tutorial-complete-introduction-for-beginners/"> Python Pandas Tutorial: A Complete Introduction for Beginners</a>
- <a href="https://www.python-course.eu/pandas.php">Introduction into Pandas</a>
- <a href="http://earthpy.org/pandas-basics.html">Time series analysis with pandas</a>
- <a href="https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html">Working with Time Series</a>

![fig_logo](https://miro.medium.com/max/3200/1*9v51-jsfHtk6fgAIYLoiHQ.jpeg)
Image Source: pandas.pydata.org

## <font color="red">What is Pandas?</font>
+ `Pandas` is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.
+ Some key features:
    - Fast and efficient DataFrame object with default and customized indexing.
    - Tools for loading data into in-memory data objects from different file formats.
    - Data alignment and integrated handling of missing data.
    - Reshaping and pivoting of data sets.
    - Label-based slicing, indexing and subsetting of large data sets.
    - Columns from a data structure can be deleted or inserted.
    - Group by data for aggregation and transformations.
    - High performance merging and joining of data.
    - Time Series functionality.
+ Able to manipulate several <a href="https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html">types of files</a>, including CSVs, TSVs , JSONs, HTML, xlsx, HDF5, Python Pickle, among others.
* Is compatible with many of the other data analysis libraries, like Scikit-Learn, Matplotlib, NumPy, and more. 

Some of key features of `Pandas` are captured in the diagram below:

![fig_features](https://d2h0cx97tjks2p.cloudfront.net/blogs/wp-content/uploads/sites/2/2019/04/Python-Pandas-Features.jpg)
Image Source: data-flair.training

### What Will be Covered

1. Pandas data structures
2. Grouby Function
3. Reading remote CSV files and tables.
4. Cleaning and formatting data
5. Manipulating time series data
6. Performing statistical calculations
7. Visualizing the data

In [ ]:
import warnings
warnings.filterwarnings("ignore")

### Standard imports

In [ ]:
import numpy as np
import datetime
import pandas as pd
print('Using pandas version ',pd.__version__)

#### Notebook settings

In [ ]:
%matplotlib inline

# Only 10 rows of data will be displayed
pd.set_option("max_rows", 10) 

# Print floating point numbers using fixed point notation
np.set_printoptions(suppress=True)

# Set figure size
LARGE_FIGSIZE = (8, 6)

#### Graphics

In [ ]:
#from seaborn import set_style
#set_style("darkgrid")
import seaborn as sns
sns.set(style='ticks', context='talk')
import matplotlib.pyplot as plt

## <font color="red">`pandas` Data Structures
- Pandas data structures are similar to numpy ndarrays but with extra functionality.

#### 1D data structures

A <font color='red'>Series</font>  is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the **index**. 

Think of a Series as a cross between a list and a dict.

![title](img/pandas_series.png)

A series can be constructed with the `pd.Series` constructor (passing a list or array of values).

In [ ]:
my_list = [5, 8, 13, 0.1, -5]

Use a list to create a Numpy array:

In [ ]:
a = np.array(my_list)
print(type(a))
print(a)

Use a list to create a Pandas Series:

In [ ]:
sr = pd.Series(my_list)
print(type(sr))
print(sr)

...get default index values

#### NumPy arrays as backend of Pandas

Contains an array of data:

In [ ]:
sr.values

Has an associated array of data labels `from 0, N-1`:

In [ ]:
sr.index

In [ ]:
my_rows = list(range(5))
print(my_rows)

In [ ]:
sr.index.values

Obtain statistical information:

In [ ]:
sr.describe()

#### More on the index

Rename the index values:

In [ ]:
sr.index = ['A','B','C','D','E']
print(sr)

Or pass the index values during Pandas series creation:

In [ ]:
sr1 = pd.Series(my_list, index=['A','B','C','D','E'])
print(sr1)

#### Numpy Array has an implicitly defined integer index used to access the values while the Pandas Series has an explicitly defined index associated with the values.

Get value at position `n` in series

In [ ]:
print(sr[3])

Use `iloc` to get value at position `n`

In [ ]:
print(sr.iloc[3])

Value at given index using dictionary-like syntax

In [ ]:
print(sr.loc['D'])

#### 2D data structures

Pandas: <font color='red'>DataFrame</font> is a 2-dimensional labeled data structure with columns of potentially different types. It is generally the most commonly used pandas object.

A <font color='red'>DataFrame</font> is like a sequence of aligned <font color='red'>Series</font> objects, i.e. they share the same index.

![title](img/pandas_df.png)


A DataFrame can be thought of as a generalization of a two-dimensional NumPy array, where both the rows and columns have a generalized index for accessing the data.

In [ ]:
df = pd.DataFrame(data=[[5, True, 'x', 2.7],
                        [8, True, 'y', 3.1],
                        [13,False,'z', np.NaN],
                        [1, False, 'a', 0.1],
                        [-5, True, 'b', -2]],
                  index=['A','B','C','D','E'],
                  columns=['num', 'bool', 'str', 'real'])
print(type(df))
df

Obtain basic data information:

In [ ]:
df.info()

Obtain statistical information:

In [ ]:
df.describe()

Get list of column names:

In [ ]:
df.columns

Get the index values:

In [ ]:
df.index

Get specific column(s):

In [ ]:
df['num']

In [ ]:
df.num

In [ ]:
df[['num','real']]

Get specific row(s):

In [ ]:
df.loc['C']

In [ ]:
df.loc[['B', 'D']]

In [ ]:
df.loc['A':'E':2]

In [ ]:
df.iloc[2]

In [ ]:
df.iloc[1:4]

Get specific row(s) and column(s):

In [ ]:
df.loc['A':'D':2, ['num', 'real']]

Apply masking:

In [ ]:
df[df.real > 1.0]

In [ ]:
df[df.real == 3.1]

Problem with `NaN`:
- In Python (and NumPy), the `nan`'s don’t compare to equal. 
- Pandas/NumPy uses the fact that `np.nan != np.nan`, and treats `None` like `np.nan`.
- A scalar equality comparison versus a `None/np.nan` doesn’t provide useful information.

In [ ]:
df.real

In [ ]:
df.real == np.NaN

We can use the `isnull` method to find out which dataframe entries are '`NaN`.

In [ ]:
df.isnull()

In [ ]:
df.isnull().values.any()

In [ ]:
df.isnull().sum()

#### Create a DataFrame from a 2D Numpy array

Given a two-dimensional array of data, we can create a dataframe with any specified column and index names. If left out, an integer index will be used for each.

In [ ]:
my_nparray = np.random.rand(3, 2)
print("Numpy array: ", my_nparray)

Create a Pandas dataframe using a Numpy array

In [ ]:
pddf = pd.DataFrame(my_nparray,
                    columns=['foo', 'bar'],
                    index=['a', 'b', 'c'])
pddf

Create a Pandas dataframe using Pandas series

In [ ]:
pdsr1 = pd.Series(np.random.rand(3))
print("First_Series: \n", pdsr1)

In [ ]:
pdsr2 = pd.Series(np.random.rand(3))
print("Second_Series: \n", pdsr2)

In [ ]:
df1 = pd.DataFrame(dict(First_Series = pdsr1, Second_Series = pdsr2))
print(df1)

## <font color='green'>Exercise</font>
In the above Pandas dataframe, relabel the index as `['Row0', 'Row1', 'Row2']`.

<details><summary><b><font color="green">Click here to access the solution</font></b></summary>
<p>

```python
df1.index = ['Row0', 'Row1', 'Row2']
``` 
</p>
</details>

**A pandas dataframe can be seen as a collection of pandas series**
![fig_objects](https://doit-test.readthedocs.io/en/latest/_images/base_01_pandas_5_0.png)
Image Source: doit-test.readthedocs.io

## <font color='red'>Pandas Datetime</font>
- Pandas provides a number to tools to handle times series data.
- Pandas datetime methods are used to work with datetime in Pandas.

Generate sequences of fixed-frequency dates and time spans:

In [ ]:
dti = pd.date_range('2018-01-01', periods=15, freq='H')
print(type(dti))
dti

Manipulating and converting date times with timezone information:

In [ ]:
dti = dti.tz_localize("UTC")
dti

Use the sequence to create a Pandas series:

In [ ]:
ts = pd.Series(range(len(dti)), index=dti)
print(ts)

Resample or convert the time series to a particular frequency:

- Sample every two hours and compute the mean

In [ ]:
ts.resample('2H').mean()

Create a Pandas series where the index is the time component:

In [ ]:
num_periods = 67
ts = pd.Series(np.random.random(num_periods),
               index=pd.date_range('2000-01', 
                                   periods=num_periods, 
                                   freq='W'))
ts

Create a Pandas DataFrame where the index is the time component:

In [ ]:
num_periods = 2500
df = pd.DataFrame(dict(X = np.random.random(num_periods), 
                       Y = -5+np.random.random(num_periods)),
                  index=pd.date_range('2000', 
                                      periods=num_periods, 
                                      freq='D'))
df

**Resampling**
- The `resample()` function is used to resample time-series data.
- It groups data by a certain time span. 
- You specify a method of how you would like to resample.
- Pandas comes with many in-built options for resampling, and you can even define your own methods.

Here are some time period options:

| Alias | Description |
| --- | --- |
| 'D' |	Calendar day |
| 'W' |	Weekly |
| 'M' |	Month end |
| 'Q' |	Quarter end |
| 'A' |	Year end |

Here are some method options for resampling:

| Method | Description |
| --- | --- |
| max |	Maximum value |
| mean |	Mean of values in time range |
| median |	Median of values in time range |
| min |	Minimum data value |
| sum |	Sum of values |

In [ ]:
df.X.resample('Y').mean()

In [ ]:
df.Y.resample('W').sum()

In [ ]:
df.X.resample('Q').median()

# <font color="red">Applications</font>

## <font color="blue"> Report on UFO Sightings</font>

In [ ]:
url = 'http://bit.ly/uforeports'
df_ufo = pd.read_csv(url)            
df_ufo

Convert the Time column to datetime format:

In [ ]:
df_ufo['Time'] = pd.to_datetime(df_ufo.Time)
df_ufo

Rename the column to Date:

In [ ]:
df_ufo.rename(columns={'Time':'Date'}, inplace=True)
df_ufo

Move the Date column as the dataframe index:

In [ ]:
df_ufo = df_ufo.set_index(['Date'])
df_ufo

**Question 1**: How to determine the number of sightings between two dates?

In [ ]:
df1 = df_ufo.loc['1978-01-01 09:00:00':'1980-01-01 11:00:00']
df1

**Question 2**: How to extract the sightings at a specific month?

In [ ]:
df2 = df_ufo[df_ufo.index.month == 2]
df2

**Question 3**: How to extract the sightings in a given State?

In [ ]:
df3 = df_ufo[df_ufo['State']== 'CA']
df3

**Question 4**: How to count the number of sightings in each state?

In [ ]:
df_ufo.groupby(['State']).count()

## <font color="blue">Population Data</font>

### Using the `groupby` Function and Related Functions to Aggregate

Read data from url as pandas dataframe:

In [ ]:
pop_url = 'http://bit.ly/2cLzoxH'

pop_data = pd.read_csv(pop_url)
pop_data

Convert the `year` values as datetime objects and make the `year` as index:

In [ ]:
pop_data['year'] = pd.to_datetime(pop_data.year, format="%Y")
pop_data.rename(columns={'year':'Year'}, inplace=True)
pop_data = pop_data.set_index(['Year'])
pop_data

We want to create a new dataframe by selecting the `continent` and `pop` columns only:

In [ ]:
continent_pop = pop_data[['continent', 'pop']]
continent_pop

### Pandas `groupby()` Function

- It is used to group rows that have the smae values.
- It is used with **aggregate functions** (`count`, `sum`, `min`, `max`, `mean`) to get the statistics based on one or more column values.
- It is also called **Split-Apply-Combine** process:
    - The `groupby()` function splits the data into groups based on some criteria.
    - The aggregate function is applied to each of the groups.
    - The groups are combined together to create a new DataFrame.

In [ ]:
grouped_pop = continent_pop.groupby("continent")
grouped_pop

How could then print the new DataFrame?

In [ ]:
grouped_pop.head()

Obtain statistical description:

In [ ]:
grouped_pop.describe()

**Iterating through Groups**

In [ ]:
for key, item in grouped_pop:
    print(key)
    print(item)

#### Selecting a Group

A single group can be selected using `get_group()`:

In [ ]:
grouped_pop.get_group('Oceania')

#### Functions To Aggregate

**`mean()`** computes mean values for each group:

In [ ]:
grouped_pop.aggregate(np.mean)

In [ ]:
grouped_pop.mean()

**`sum()`** adds of values within each group.

In [ ]:
grouped_pop.aggregate(np.sum)

In [ ]:
grouped_pop.sum()

**`size()`** computes the size per each group.

In [ ]:
grouped_pop.aggregate(np.size)

In [ ]:
grouped_pop.size()

For each group, you can similarly use:
    
- `count()`: computes the number of values.
- `max()`: gets maximum value.
- `min()`: gets minimum value.
- `std()`: computes standard deviation of the values.
- `var()`: computes variance, an estimate of variability.
- `sem()`: computes standard error of the mean values.

**Applying several functions at once**

In [ ]:
grouped_pop.agg([np.sum, np.mean, np.std])

**`describe()`** computes a quick summary of values per group

In [ ]:
grouped_pop.describe()

**`first()`** gets the first row value within each group.

In [ ]:
grouped_pop.first()

**`last()`** gets the last row value within each group.

In [ ]:
grouped_pop.last()

**`nth()`** gives nth value, in each group.

In [ ]:
grouped_pop.nth(8)

## <font color="blue">Read HTML Table</font>

We want to be able to read the **Election results from statewide races** table from:

[https://en.wikipedia.org/wiki/Minnesota](https://en.wikipedia.org/wiki/Minnesota)

In [ ]:
#from unicodedata import normalize

In [ ]:
df_table = pd.read_html('https://en.wikipedia.org/wiki/Minnesota')
df_table

We read all the tables from the webpage. We can select the specific table we want to read by using the `match` parameter:

In [ ]:
df_table = pd.read_html('https://en.wikipedia.org/wiki/Minnesota', 
                        match='Election results from statewide races')

df_table

You can see that the result is a list containing one DataFrame. We can then extract the DataFrame:

In [ ]:
df = df_table[0]
df

Let us gather basic information on rows and columns:

In [ ]:
df.info()

- Notice that the columns `GOP`, `DFL` and `Other` more likely have the string type. 
- We want them to have numerical values.
- We can use the `regex=True` parameter to replace the string `%` with an empty space.

In [ ]:
df = df.replace({'%': ''}, regex=True)
df

In [ ]:
df.info()

Now we need to do the conversion:

In [ ]:
df[['GOP', 'DFL', 'Others']] = df[['GOP', 'DFL', 'Others']].apply(pd.to_numeric)
df.info()

We now want to group by `Office`:

In [ ]:
df_office = df.groupby("Office")
df_office.head()

We can select the group `President`:

In [ ]:
df_president = df_office.get_group('President')
df_president

Compute averages:

In [ ]:
df_president['GOP'].mean()

In [ ]:
df_president['DFL'].mean()

We can do a plot:

In [ ]:
plt.style.use('seaborn-whitegrid')
df_president.plot.line(x='Year', y=['GOP', 'DFL'])

## <font color="blue">AERONET Observations at Goddard</font>

![fig_aeronet](https://www.nasa.gov/images/content/363322main_bamgomas_maps.jpg)
Image Source: NASA

- [AERONET](https://aeronet.gsfc.nasa.gov/) (AErosol RObotic NETwork) is a globally distributed network of identical robotically controlled ground-based sun/sky scanning radiometers. 
- Each instrument measures the intensity of sun and sky light throughout daylight hours from the ultraviolet through the near-infrared. 
- The program provides a longterm, continuous, and accessible public domain database of aerosol optical, microphysical, and radiative properties for aerosol research including, aerosol characterization, validation of satellite retrievals and model predictions, and synergism with other databases.
- Here are some Science benefits of AERONET:
     - AERONET measurements are used to validate and advance algorithm development of satellite retrievals of aerosols.
     - Aerosol transport models use aerosol data from AERONET to validate and improve model algorithms.
     - Aerosol assimilation models as well as weather prediction models use real time AERONET data to improve predictions.
     - Long-term commitment to AERONET sites worldwide provides assessment of the regional climatological impact of aerosols (e.g., aerosol amount, size, and heating or cooling effects).
- Over 840 stations worldwide.
- Here, we analyze the measurements (Aerosol Optical Depth (AOD)) at the [NASA GSFC](https://aeronet.gsfc.nasa.gov/new_web/photo_db_v3/GSFC.html) site.

In [ ]:
url = "https://raw.githubusercontent.com/astg606/py_materials/master/aeronet/"
filename = url+"19930101_20210102_GSFC.lev20"

In [ ]:
dateparse = lambda x: datetime.datetime.strptime(x, '%d:%m:%Y %H:%M:%S')
df = pd.read_csv(filename, skiprows=6, na_values=-999,
                 parse_dates={'datetime': [0, 1]}, 
                 date_parser=dateparse, index_col=0, 
                 squeeze=True)

In [ ]:
df

In [ ]:
df.columns

In [ ]:
df.describe()

**Renaming of the Columns of Interest**

In [ ]:
old_cols = ['Day_of_Year', 'AOD_675nm', 'AOD_440nm', 
            '440-675_Angstrom_Exponent']

new_cols = ['DoY', 'A675', 'A440', 'Alpha']

In [ ]:
df_GSFC = df[old_cols]
df_GSFC.columns = new_cols

In [ ]:
df_GSFC

**Plotting**

In [ ]:
df_GSFC["A675"].plot()

In [ ]:
df_GSFC["A675"].plot()

In [ ]:
df_GSFC[["A675", "A440"]].plot()

In [ ]:
df_GSFC[["A675", "A440"]].plot(subplots='True')

In [ ]:
df_GSFC.plot(kind='scatter', x="A675", y="A440");

**Perform Calculations**

We create a new column that is a combination of other columns.

In [ ]:
df_GSFC['A550'] = df_GSFC['A675']*((675.0/550.0))**df_GSFC['Alpha']

In [ ]:
df_GSFC

The above is used to compare model simulation with AERONET observations.

**Zoom in on a Specific Year**

In [ ]:
df_GSFC_2010 = df_GSFC[df_GSFC.index.year == 2010]
df_GSFC_2010

In [ ]:
ax = df_GSFC_2010.plot(x="DoY", y="A550", color="green",
                       title="2010 AERONET at GSFC")
ax.set_xlabel("Day of Year")
ax.set_ylabel("Aerosol Optical Depth")

## <font color="blue">Weather Data</font>

<center>https://www.wunderground.com/cgi-bin/findweather/getForecast?query=KDAA</center>

#### Pandas <font color='red'>read_csv</font>

In [ ]:
url = "https://raw.githubusercontent.com/astg606/py_materials/master/pandas/data/weather/"
filename = "hampton_10-10-15_10-10-16.csv"
weather_data = pd.read_csv(url+filename)

Print the data as a table:

In [ ]:
weather_data

Print the column labels:

In [ ]:
weather_data.columns

Get basic information on the data:

In [ ]:
weather_data.info()

Print statistical information:

In [ ]:
weather_data.describe()

Access values of a column like in a dictionary:

In [ ]:
weather_data["Max TemperatureF"]

In [ ]:
weather_data["EDT"]

You can get the column index first and the values:

In [ ]:
my_col = weather_data.columns.get_loc("Max TemperatureF")
weather_data.iloc[:,my_col]

You can also use the loc method:

In [ ]:
weather_data.loc[:,"Max TemperatureF"]

Access column data like a "method" is nicer because you can autocomplete:

In [ ]:
weather_data.EDT

You can elect multiple columns:

In [ ]:
weather_data[["EDT", "Mean TemperatureF"]]

You can also pass an argument:

In [ ]:
weather_data.EDT.head()

In [ ]:
weather_data["Mean TemperatureF"].head()

#### Rename columns

Assign a new list of column names to the columns property of the DataFrame.

In [ ]:
weather_data.columns = ["date", "max_temp", "mean_temp", "min_temp", "max_dew",
                "mean_dew", "min_dew", "max_humidity", "mean_humidity",
                "min_humidity", "max_pressure", "mean_pressure",
                "min_pressure", "max_visibilty", "mean_visibility",
                "min_visibility", "max_wind", "mean_wind", "min_wind",
                "precipitation", "cloud_cover", "events", "wind_dir"]

In [ ]:
weather_data

Now, we can use `.` dot:

In [ ]:
weather_data.mean_temp.head()

In [ ]:
weather_data.mean_temp.std()

In [ ]:
weather_data.mean_temp.mean()

### Visualization

In [ ]:
weather_data.mean_temp.plot();

In [ ]:
weather_data[['max_temp','min_temp']].plot(subplots=False);

In [ ]:
new_weather_data = weather_data[['max_temp','min_temp']]
new_weather_data.plot(subplots=True);

We can specify column labels in the loc method to retrieve columns by label instead of by position:

In [ ]:
new_weather_data = weather_data.loc[50:125,['max_temp','min_temp']]
new_weather_data.plot(subplots=True);

The <font color='red'>plot()</font> function returns a matplotlib <font color='red'>AxesSubPlot</font> object. You can pass this object into subsequent calls to plot() in order to compose plots.

In [ ]:
ax = weather_data.max_temp.plot(title="Min and Max Temperatures", 
                                figsize=(12,6));
weather_data.min_temp.plot(style="red", ax=ax);
ax.set_ylabel("Temperature (F)");

Perform scatter plot:

In [ ]:
new_weather_data.plot(kind='scatter', x='max_temp', y='min_temp');

## <font color="blue">Climate data</font>

### <center>Global Surface Temperature Change based on Land and Ocean Data</center>
<center>Reference http://pubs.giss.nasa.gov/docs/2010/2010_Hansen_ha00510u.pdf</center>

#### Pandas  <font color='red'>read_table</font>

In [ ]:
url = "https://raw.githubusercontent.com/astg606/py_materials/master/pandas/data/temperatures/"
filename = "annual.land_ocean.90S.90N.df_1880-2016mean.dat"
tsurf = pd.read_table(url+filename)
print(type(tsurf))

In [ ]:
print(tsurf)

There is only 1 column! Let's reformat the data noting that there is a header and values are separated by any number of spaces.

### Data wrangling

> Data Wrangling is the process of converting and mapping data from its raw form to another format with the purpose of making it more valuable and appropriate for advance tasks such as Data Analytics and Machine Learning.

In [ ]:
tsurf = pd.read_table(url+filename, skiprows=5, sep="\s+")
tsurf

There are columns but the column names are: 1880, -0.20, -0.13

In [ ]:
tsurf = pd.read_table(url+filename, skiprows=5, sep="\s+", \
                      names=["year", "mean_anom", "with_smoothing"])
tsurf

We only have 3 columns, one of which is the year of the record. Let use that as the index using the `index_col` option:

In [ ]:
tsurf = pd.read_table(url+filename, skiprows=5, sep="\s+", \
                      names=["year", "mean_anom", "with_smoothing"], 
                      index_col=0)
tsurf

Furthermore the index is made of dates. Let's make that explicit:

In [ ]:
tsurf = pd.read_table(url+filename, skiprows=5, sep="\s+", \
                      names=["year", "mean_anom", "with_smoothing"], 
                      index_col=0, parse_dates=True)
tsurf

### Dealing with missing values

In [ ]:
tsurf.tail()

Convert to missing values to `NaN` values:

In [ ]:
tsurf[tsurf == -999.000] = np.nan
tsurf.tail()

Remove NaN values:

In [ ]:
tsurf.dropna().tail()

### Visualization

In [ ]:
tsurf.plot()

In [ ]:
ax = tsurf.mean_anom.plot(style="black", 
                          title="Global Mean Estimates based on Land and Ocean Data", 
                          marker='s',
                          figsize=(12,6));
tsurf.with_smoothing.plot(style="red", ax=ax);
ax.set_ylabel("Temperature (C)");

In [ ]:
import webbrowser
url = 'http://data.giss.nasa.gov/gistemp/graphs/graph_data/Global_Mean_Estimates_based_on_Land_and_Ocean_Data/graph.html'
webbrowser.open(url)

## <font color="green"> Exercise </font>
* Read the weather data so that the indices are the dates
* Plot the max and min tempatures on the same axes with the dates (ranging from November to March) as x-axis.

<details><summary><b><font color="green">Click here to access the solution</font></b></summary>
<p>

```python
weather_data1 = weather_data

# Make the date (datetime object) as index
weather_data1.set_index("date",inplace=True) 

# Select the date range
df = weather_data1[(weather_data1.index > '2015-11-01') & \
                   (weather_data1.index <= '2016-03-31')]
ax = df.max_temp.plot(title="Min and Max Temperatures", 
                                figsize=(12,6));
df.min_temp.plot(style="red", ax=ax);
ax.set_ylabel("Temperature (F)");
``` 
</p>
</details>

## <font color="blue">Arctic Oscillation and North Atlantic Oscillation  Datasets</font>

- The <a href="https://en.wikipedia.org/wiki/Arctic_oscillation">Arctic oscillation (AO)</a> or Northern Annular Mode/Northern Hemisphere Annular Mode (NAM) is a weather phenomenon at the Arctic poles north of 20 degrees latitude. It is an important mode of climate variability for the Northern Hemisphere.
- The <a href="https://en.wikipedia.org/wiki/North_Atlantic_oscillation">North Atlantic Oscillation (NAO)</a> is a weather phenomenon in the North Atlantic Ocean of fluctuations in the difference of atmospheric pressure at sea level (SLP) between the Icelandic Low and the Azores High.

In [ ]:
ao_url = "http://www.cpc.ncep.noaa.gov/products/precip/CWlink/daily_ao_index/monthly.ao.index.b50.current.ascii"
nao_url = "http://www.cpc.ncep.noaa.gov/products/precip/CWlink/pna/norm.nao.monthly.b5001.current.ascii"

Read the North Atlantic Oscillation (NAO) data as a Pandas dataframe by combining Columns 0 & 1 and parsing it as a single date column.

In [ ]:
nao_df = pd.read_table(nao_url, sep='\s+', 
                       parse_dates={'dates':[0, 1]}, 
                       header=None, index_col=0, squeeze=True)
nao_df

Read the Atlantic Oscillation (AO) data as a Pandas dataframe by combining Columns 0 & 1 and parsing it as a single date column.

In [ ]:
ao_df = pd.read_table(ao_url, sep='\s+', 
                      parse_dates={'dates':[0, 1]}, 
                      header=None, index_col=0, squeeze=True)
ao_df

Create a Pandas DataFrame by combining the two Pandas Series. 

Note that the frequency of the data is one month (`freq='M'`).

In [ ]:
aonao_df = pd.DataFrame({'AO':ao_df.to_period(freq='M'), 
                         'NAO':nao_df.to_period(freq='M')})
aonao_df

In [ ]:
aonao_df.NAO.plot();

In [ ]:
aonao_df.NAO['2010':'2019'].plot();

In [ ]:
aonao_df.NAO['2010-02':'2010-11'].plot();

In [ ]:
aonao_df.plot(subplots=True);

In [ ]:
aonao_df.loc[(aonao_df.AO > 0) & (aonao_df.NAO < 0) 
                               & (aonao_df.index > '2010-01') 
                               & (aonao_df.index < '2020-01'), 'NAO'].plot(kind='barh');

#### Resampling

- Pandas provide easy way to resample data to different time frequency. 
- Two main parameters for resampling:
     1. Time period you resample to 
     2. The method that you use. By default the method is mean. 
     
In the example below we calculate the annual mean ("A").

In [ ]:
aonao_df_mm = aonao_df.resample("A").mean()
aonao_df_mm.plot(style='g--', subplots=True);

In [ ]:
aonao_df_mm = aonao_df.resample("A").median()
aonao_df_mm.plot(style='g--', subplots=True);

You can use your methods for resampling, for example `np.max` (in this case we change resampling frequency to 3 years):

In [ ]:
aonao_df_mm = aonao_df.resample("3A").apply(np.max)
aonao_df_mm.plot(style='g--', subplots=True);

You can specify several functions at once as a list:

In [ ]:
aonao_df_mm = aonao_df.NAO.resample("A").apply(['mean', np.min, np.max])
aonao_df_mm['1900':'2020'].plot(subplots=True);

#### Group By

Process that involves one or more of the steps:

- Splitting the data into groups based on some criteria.
- Applying a function to each group independently.
- Combining the results into a data structure.

Group by year:

In [ ]:
aonao_df_gb_year = aonao_df.groupby(by=[aonao_df.index.year]).mean()
aonao_df_gb_year

In [ ]:
aonao_df.groupby(pd.Grouper(freq='A')).mean()

In [ ]:
aonao_df_gb_year.plot()

Group by month:

In [ ]:
aonao_df_gb_month = aonao_df.groupby(by=[aonao_df.index.month]).mean()
aonao_df_gb_month

In [ ]:
aonao_df.groupby(pd.Grouper(freq='M')).mean()

In [ ]:
aonao_df_gb_month.plot(subplots=True)

Quarterly Data:

In [ ]:
aonao_df.groupby(pd.Grouper(freq='Q')).mean()

## <font color="blue">Web Scraping Sea Level Data</font>

The [Permanent Service for Mean Sea Level](http://www.psmsl.org/) (PSMSL) website contains Mean Sea Level (MSL) data from stations around the world. Here we download and parse all tables in a webpage, and again we just give `read_html` the URL to parse:

#### Pandas  <font color='red'>read_html</font>

In [ ]:
# Needs `lxml`, `beautifulSoup4` and `html5lib` python packages
table_list = pd.read_html("http://www.psmsl.org/data/obtaining/")

In [ ]:
type(table_list)

In [ ]:
len(table_list)

In [ ]:
table_list[-1]

There is 1 table on that page which contains metadata about the stations where sea levels are recorded:

In [ ]:
local_sea_level_stations = table_list[0]
local_sea_level_stations

That table can be used to search for a station in a region of the world we choose, extract an ID for it and download the corresponding time series with the URL:

```python
http://www.psmsl.org/data/obtaining/met.monthly.data/< ID >.metdata
```

The datasets that we obtain straight from the reading functions are pretty raw. A lot of pre-processing can be done during data read but we haven't used all the power of the reading functions.

The columns of the local_sea_level_stations aren't clean. they contain spaces and dots.

In [ ]:
local_sea_level_stations.columns

We can clean up by removing the `.` and any white space from column name:

In [ ]:
local_sea_level_stations.columns = [name.strip().replace(".", "") 
                                    for name in local_sea_level_stations.columns]
local_sea_level_stations.columns

In [ ]:
local_sea_level_stations.columns = [name.strip().replace(" ", "_") 
                                    for name in local_sea_level_stations.columns]
local_sea_level_stations.columns

Let us only consider the latitude, longitude, country and date:

In [ ]:
selected_columns = ['ID', 'Lat', 'Lon', 'Country', 'Date']
msl_data = local_sea_level_stations[selected_columns]
msl_data

We can now plot locations of the stations on a map:

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import cartopy
import cartopy.crs as ccrs
import cartopy.feature as cfeature

fig = plt.figure(figsize=(12, 9))
map_projection = ccrs.PlateCarree()
data_transform = ccrs.PlateCarree()

ax = plt.axes(projection=map_projection)
ax.stock_img()

# Plot the selected location 
plt.plot(msl_data.Lon, msl_data.Lat, 'r*', 
         transform=data_transform, color="purple", markersize=2)

ax.set(title="Location of the Lat/Lon of MSL stations")

Change the `Date` as datetime object and move it as index:

In [ ]:
msl_data['Date'] = pd.to_datetime(msl_data.Date, format="%d/%m/%Y")
msl_data = msl_data.set_index(['Date'])
msl_data

We can now group the measurements by country:

In [ ]:
grp_msl_data = msl_data.groupby("Country")
grp_msl_data

In [ ]:
num_stations = 0
for key, item in grp_msl_data:
    print("Country: {} -- {:>4} Stations".format(key, len(item)))
    num_stations += len(item)
    #print("{}".format(item))
    #print()
    
print("{} stations in total.".format(num_stations))

Select data for USA:

In [ ]:
msl_usa = grp_msl_data.get_group('USA')
msl_usa

In [ ]:
stationID = msl_usa.ID[-1]

In [ ]:
from datetime import datetime, timedelta

def convert_to_datetime(year_dec):
    year_int = int(float(year_dec))
    base = datetime(year_int, 1, 1)
    rem = float(year_dec) - year_int
    result = base + \
             timedelta(seconds=(base.replace(year=base.year + 1) - base).total_seconds() * rem)
    #print(result.strftime("%Y-%m-%d"))
    return result

x = 1985.2917
convert_to_datetime(x).strftime("%Y-%m-%d")

In [ ]:
url = f"https://www.psmsl.org/data/obtaining/met.monthly.data/{stationID}.rlrdata"
print(url)
monthly_data = pd.read_csv(url, sep=";", 
                           names=["monthly_mean_sl"],
                          parse_dates={'Dates': [0]}, 
                          date_parser=convert_to_datetime,
                           infer_datetime_format=True,
                          na_values=-99999, header=None, 
                          index_col=0, squeeze=True)

annual_data

##  <font color="blue">Global Temperature Climatology</font>

Let's load a different file with temperature data. NASA's GISS dataset is written in chunks: look at it in `data/temperatures/GLB.Ts+dSST.txt`

In [ ]:
#!head data/temperatures/GLB.Ts+dSST.txt

In [ ]:
url = "https://raw.githubusercontent.com/astg606/py_materials/master/pandas/data/temperatures/"

giss_temp = pd.read_csv(url+"GLB.Ts+dSST.txt", 
                        skiprows=7, 
                        skipfooter=11, 
                        sep="\s+")
print(type(giss_temp))
giss_temp

In [ ]:
# Internal nature of the object
print(giss_temp.shape)
print(giss_temp.dtypes)

Descriptors for the vertical axis (axis=0)

In [ ]:
print(giss_temp.index)

Descriptors for the horizontal axis (axis=1)

In [ ]:
giss_temp.columns

#### Recall: every column is a Series

A lot of information at once including memory usage:

In [ ]:
giss_temp.info()

### Setting the index

In [ ]:
# We didn't set a column number of the index of giss_temp, 
# we can do that after we have read the data:
giss_temp = giss_temp.set_index("Year")
giss_temp.head()

Note Year.1 column is redundant

### Dropping rows and columns

In [ ]:
giss_temp.columns

In [ ]:
# Let's drop it:
giss_temp = giss_temp.drop("Year.1", axis=1) # axis=1 is the data axis
giss_temp

In [ ]:
# We can also just select the columns we want to keep 
# (another way to drop columns)
giss_temp = giss_temp[[u'Jan', u'Feb', u'Mar', u'Apr', 
                       u'May', u'Jun', u'Jul', u'Aug', 
                       u'Sep', u'Oct', u'Nov', u'Dec']]
# Note how we passed a List of column names

giss_temp

In [ ]:
# Let's remove the last row (Year  Jan ...).
giss_temp = giss_temp.drop("Year")  # by  default drop() works on index axis (axis=0)
giss_temp

Let's also set `****` to a real missing value (`np.nan`). We can often do it using a boolean mask, but that may trigger pandas warning. Another way to assign based on a boolean condition is to use the `where` method:

In [ ]:
#giss_temp[giss_temp == "****"] = np.nan # WARNING due to memory layout

# use .where: replace the entries which do not satistfy the condition
giss_temp = giss_temp.where(giss_temp != "****", other=np.nan)

In [ ]:
giss_temp.tail()

Because of the labels (strings) found in the middle of the timeseries, every column only assumed to contain strings (didn't convert them to floating point values):

In [ ]:
giss_temp.dtypes

That can be changed after the fact (and after the cleanup) with the `astype` method of a `Series`:

In [ ]:
giss_temp["Jan"].astype("float32")

In [ ]:
# Loop over all columns that had 'Object' type and make them 'float32'
for col in giss_temp.columns:
    giss_temp[col] = giss_temp[col].astype(np.float32)

An index has a `dtype` just like any Series and that can be changed after the fact too.

In [ ]:
giss_temp.index.dtype

For now, let's change it to an integer so that values can at least be compared properly.

In [ ]:
giss_temp.index = giss_temp.index.astype(np.int32)

### Removing missing values

In [ ]:
# This will remove any year that has a missing value. 
# Use how='all' to keep partial years
giss_temp.dropna(how="all").tail()

In [ ]:
# Replace (fill) NaN with 0 (or some other value, like -999)
giss_temp.fillna(value=0).tail()

In [ ]:
# ffill = forward fill: This fills them with the previous year.
giss_temp.fillna(method="ffill").tail()

There is also a `.interpolate` method that works on a `Series`:

In [ ]:
giss_temp.Aug.interpolate().tail()

For now, we will leave the missing values in all our datasets, because it wouldn't be meaningful to fill them.

### Visualization

In [ ]:
giss_temp.Jan.plot(figsize=LARGE_FIGSIZE);

In [ ]:
# A boxplot
giss_temp.boxplot();

## <font color="red">Storing our Work</font>

For each `read_**` function to load data, there is a `to_**` method attached to Series and DataFrames.

Another file format that is commonly used is Excel.

Multiple datasets can be stored in 1 file.

In [ ]:
writer = pd.ExcelWriter("test.xls")

In [ ]:
giss_temp.to_excel(writer, sheet_name="GISS temp data")
tsurf.to_excel(writer, sheet_name="NASA sst anom data")

In [ ]:
writer.close()

Another, more powerful file format to store binary data, which allows us to store both `Series` and `DataFrame`s without having to cast anybody is HDF5.

In [ ]:
with pd.HDFStore("all_data.h5") as writer:
    giss_temp.to_hdf(writer, "/temperatures/giss")
    tsurf.to_hdf(writer, "/temperatures/anomalies")
    mean_sea_level.to_hdf(writer, "/sea_level/mean_sea_level")
    local_sea_level_stations.to_hdf(writer, "/sea_level/stations")

In [ ]:
%ls